
<% if (products.length>0) { %>
    <% products.forEach(product => { %>
        <div>
            <p><%=product.name %>  </p>
            <p><%=product.price %></p>
            <p><%=product.file %>  </p>     
        </div>
    <% }) %>
<% } else { %>
    <p>No hay usuarios por mostrar</p>
<% } %>